<% layout('/boilerCode/boilerCode') -%>

<div class="container mt-5">

    <h2 class="mb-4">Category: <%= category %></h2>

    <div class="row">
        <% if (posts.length === 0) { %>
            <p>No posts found in this category.</p>
        <% } else { %>
            <% posts.forEach(post => { %>
                <div class="col-md-4 mb-4">
                    <div class="card shadow">
                        <img src="<%= post.image.url %>" class="card-img-top">
                        <div class="card-body">
                            <h5><%= post.title %></h5>

                            <p><%= (post.description || "").substring(0, 80) %>...</p>

                            <a href="/blogs/show/<%= post._id %>" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>

</div>
